<!DOCTYPE html>
<html lang="en">
<head>
       <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=1.0">
        <title>Connexion à l'administration</title>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" integrity="sha384-REHJTs1r2ErKBuJB0fCK99gCYsVjwxHrSU0N7I1zl9vZbggVJXRMsv/sLlOAGb4M" crossorigin="anonymous">
     
        {# <link rel="stylesheet" href="/css/Cerulean_bootstrap.min.css"> #}
        {# <link rel="stylesheet" href="/css/litera_bootstrap.min.css"> #}
        <link rel="stylesheet" href="/css/spacelab_bootstrap.min.css">

        <link rel="stylesheet" href="/css/Aristo.css">
        <link rel="stylesheet" href="/css/app.css"> 
  
     <style>
          body {
              display: flex;
              justify-content: center;
              height: 100vh;
          }

          .card {
              margin-top: 10%;
          }
     </style>

</head>
<body>
    <div class="col-md-6"> 
            <div class="card bg-light">
                <div class="card-header">
                    <h4 class="card-title">
                    <i class="fas fa-lock"></i>
                    Connexion à l'administration
                    </h4>
                </div>
                <div class="card-body">
                  {% if hasError %}
                       <div class="alert alert-warning">
                         <p>les informations fournies ne sont pas correctes</p>
                       </div>
                  {% endif %}
                    <form method="post">
                        <div class="form-group"><label for="_username">Email</label><input type="text" 
                        class="form-control" placeholder="Adresse email ..." name="_username" value="{{ username }}"></div>
                        <div class="form-group"><label for="_password">Mot de passe</label><input type="password" class="form-control" placeholder="Mot de passe ..." name="_password"></div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">
                            <i class="fas fa-lock-open"></i>
                            Connexion !
                            </button>
                            <a href="{{ path('homepage') }}" class="btn btn-link">
                            {# <a href="{{ path('admin_ads_index') }}" class="btn btn-link"> #}
                                <i class="fas fa-arrow-circle-left"></i>
                            Restour au site
                            </a>
                        </div>
                    </form>
                </div>
            </div>
     </div> 
</body>
</html>